*{margin: 0;padding: 0;}
a{text-decoration: none;color: black;}
li{list-style: none;}
input{outline: none;}
img{border: 0 none;}
.clearfix:after,.clearfix:before{content: '';display: table;}
.clearfix:after{clear:both}
/* 主要区域 */
.container{display: flex;justify-content: center;align-items: center;}
.container .block{display: block;width: 100%;}
.container .block .top{display: flex;width: 100%;margin-top: 20px;}
.container .block .top .my{font-weight: bold;margin-left: 5%;}
.container .block .top .right{border-radius: 14px;width: 40px;height: 25px;margin-right: auto;margin-left: 5%;}
.container .block .top a{margin-right: 5%;}
.container .block .swiper-container{width: 300px;margin-top: 70px;height: 500px;}
.container .block .swiper-container .swiper-wrapper img{height: 350px;width: 300px;z-index: -1;opacity: 50%;position: relative;}
.container .block .swiper-container .swiper-wrapper .pic{position: absolute;left: 15%;top: 2%;background-color: white;border: 1px solid;width: 10px;height: 50px;padding: 30px 30px;color: grey;}
.container .block .swiper-container .swiper-wrapper .intro{position: absolute;right: 7%;top: 9%;}
.container .block .swiper-container .swiper-wrapper .intro li{margin-top: 5px;font-weight: bold;}
.container .block .swiper-container .swiper-wrapper .intro input{width: 100px;border: none;background: none;border-bottom: 1px solid;padding-left: 5px;}
.container .block .swiper-container .swiper-wrapper .life{position: absolute; top: 30%;left: 10%;}
.container .block .swiper-container .swiper-wrapper .life li{margin-top: 20px;font-weight: bold;}
.container .block .swiper-container .swiper-wrapper .life input{width: 150px;border: none;background: none;border-bottom: 1px solid;padding-left: 5px;}
.container .block .msg{position: absolute;top: 75%;left: 40%;font-weight:  bold;}
.container .block  .solid{display: flex;position: absolute;top: 80%;height: 20%;background-color: rgb(245, 243, 243) ;justify-content: center;width: 100%;left: 0;align-items: center;}
.container .block  .solid li{width: 80px;margin-left: 5px;border-bottom: none;}
.container .block  .solid img{width: 60px;height: 60px;border-radius: 50%;border: 1px solid black;}
.container .block  .solid .word1{margin-left: 15px;margin-right: 10px;margin-top: 5px;display: inline-block;}