*{margin: 0;padding: 0;}
a{text-decoration: none;color: black;}
li{list-style: none;}
input{outline: none;}
img{border: 0 none;}
.clearfix:after,.clearfix:before{content: '';display: table;}
.clearfix:after{clear:both}
/* 主要区域 */
body{background: url(../image/效果图/background.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.container{display: flex;justify-content: center;}
.container .box{display: block;height: 100%;}
.container .pic{width: 150px;height: 180px;}
.container .logo{width: 150px;height: 150px;position: absolute;top: 10px;left: 50%;margin-left: -75px;}
.container .choice{display: flex;justify-content: center;}
.container .choice li{font-size: 18px;font-weight: bolder;}
.container .choice .dis1{margin-left: 80px;width: 60px;height: 30px;background-color: #413f3f;text-align: center;border-radius: 10px;line-height: 25px;box-sizing: border-box;display: inline-block;color: white;}
.container .choice .dis2{border-right: 1px solid black;}
.container .choice .dis{margin-right: 80px;color: black;}
.container .input{display: flex;flex-wrap: wrap;width: 300px;margin-right:auto ;position: relative;}
.container .input input{width: 265px;height: 30px;border-radius: 16px;padding-left: 30px;margin-top: 10px;}
.container .input .id{position: absolute;top: 17px;left: 10px;color: grey;}
.container .input .lock{position: absolute;top: 17px;left: 10px;color: grey;}
.container .input .name{color: #413f3f;text-decoration: underline;font-size: 10px;position: absolute;left: 80%;top: 17px;}
.container .input .eye{color: #5e5e5e;position: absolute;left: 90%;top: 17px;}
.container .next{display: flex;flex-wrap: wrap;width: 300px ;position: relative;margin-top: 20px;position: relative;}
.container .next .input{display: flex;flex-wrap: wrap;width: 300px;margin-right:auto ;position: relative;}
.container .next input{width: 265px;height: 30px;border-radius: 16px;padding-left: 30px;margin-top: 10px;}
.container .next .mobile{font-size: 20px; position: absolute;top: 15px;left: 10px;color: grey;}
.container .next .check{ position: absolute;top: 17px;left: 10px;color: grey;}
.container .next .send{color: #413f3f;text-decoration: underline;font-size: 10px;position: absolute;left: 78%;top: 19px;}
.container .button{width: 100px;height: 40px;font-size: 18px;font-weight: 700;background:linear-gradient(#fffcfc,#5e5e5e) ;text-align: center;border-radius: 20px;line-height: 40px;margin: 20px auto;}
.container .button .link{text-decoration: underline;}
.container .bottom{font-size: 12px;display: flex;justify-content: center;margin-top: 10px;}
.container .bottom .dis{margin-left: 5px;color: blue;text-decoration: underline;}